.p-login-button-wrapper {
  @include flexbox();
  @include justify-content(center);
  align-items: center;
  height: 100%;
  width: 100%;
}

.p-login-button {
  background: $accent-color;
  color: $light-font-color;
  font-size: 4rem;
  height: 10rem;
  width: 35rem;

  a {
    @include flexbox();
    @include justify-content(center);
    align-items: center;
    height: 100%;
    width: 100%;
  }

  a:hover {
    background: $hover-color;
    transition: .5s;
  }
}
