.p-control-bar {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  background: $background-color;
  height: 10rem;
  text-align: center;
}

.p-add-form {
  font-size: 3rem;
  height: 5rem;
  width: 100%;
  z-index: 1;

  @include media(sp) {
    font-size: 2rem;
    height: 4rem;
  }

  input {
    background: $light-font-color;
  }
}

.p-add-form__input--en {
  width: 60%;

  @include media(sp) {
    width: 70%;
  }
}

.p-add-form__submit {
  background: $light-font-color;
  border-radius: 50% !important;
  height: 5rem;
  margin-left: .5rem;
  width: 5rem;

  @include media(sp) {
    height: 4rem;
    width: 4rem;
  }
}
