.p-static-pages {
  height: 100%;
  margin: 1rem;

  h2 {
    margin-top: 1rem;
  }

  ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 40px;
  }

  p {
    margin-top: 1rem;
  }
}
