.p-words-table-wrapper {
  margin-top: 3rem;
}

.p-words-table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.p-words-table__thead {
  background: $background-heavy-color;
  color: $light-font-color;
  display: block;
  font-size: 2.8rem;

  @include media(sp) {
    font-size: 2rem;
  }

  tr {
    @include flexbox();
    width: 100%;
  }

  th {
    padding: 1rem 0;
  }

  th:nth-child(1) {
    @include flex(1);
  }

  th:nth-child(2) {
    @include flex(4);
  }

  th:nth-child(3) {
    @include flex(4);
  }
}

.p-words-table__tbody {
  background: $background-color;
  display: block;
  font-size: 2.5rem;
  height: 40rem;
  overflow-x: hidden;
  overflow-y: auto;

  @include media(sp) {
    font-size: 1.8rem;
  }

  tr {
    @include flexbox();
    width: 100%;
  }

  td {
    padding: 1rem 0;
    word-break: break-all;
  }

  td:nth-child(1) {
    @include flex(1);
  }

  td:nth-child(2) {
    @include flex(4);
  }

  td:nth-child(3) {
    @include flex(4);
    position: relative;
  }

  td:nth-child(3):hover {
    background-color: $light-hover-color;
  }

  td:nth-child(3)::after {
    content: '✏︎';
    opacity: 0;
    position: absolute;
    right: 3rem;
    top: 1rem;
  }

  td:nth-child(3):hover::after {
    opacity: 1;
  }
}
