#footer {
  border-top: 1rem solid $accent-color;
  height: 8rem;

  @include media(sp) {
    height: 14rem;
  }

  .footer-rule__items {
    color: $font-color;
    margin: 1rem;
    text-align: right;

    li {
      display: inline;
      margin-right: 1rem;
    }
  }

  .footer-rule__item {

    :hover {
      color: $hover-color;
    }
  }
}
