#sidenav {
  background: $background-color;
  flex: 1;

  @include media(sp) {
    display: none;
  }

  .sidenav__items {
    font-size: 3rem;
    height: 100%;
    position: relative;

    li {
      margin: 1rem 0;
    }

    li:hover {
      color: $accent-color;
    }

    li:last-child {
      bottom: 0;
      margin-bottom: 5rem;
      position: absolute;
    }
  }
}
